{% extends 'base.html'%}
{% load static%}
{% block content %}
<h2>Download Files</h2>

<br>
<div class = "container" >
    <div class = "row">
        <div class="col-md-3">

{% for file in files %}
    <h4>{{file.name}}</h4>
    
        
        <a href="{{file.zip_file.url}}" target = "_blank"><button class = "btn btn-primary">Download File</button> </a>
    
        <a href="{{file.id}}/delete"> <button class = "btn btn-danger">Delete</button></a>
        <br><br>
       
{% endfor %}
</div>
</div>
</div>
{% endblock content %}


    