{% extends 'base.html'%}
{% load static%}
{% block content %}

<style>

    h2 {
        text-align:center;
    }
</style>
<h2>Download Files</h2>
<hr>

<div class = "container" >
    <div class = "column">
        <div class="row-md-3">

{% for file in files %}

    <h4>{{file.name.upper}}</h4> <br><br>
        <a href="{{file.upload.url}}" target = "_blank"><button class = "btn btn-primary">Download File</button> </a>
       
        {% if request.user.is_staff %}
        <a href="{% url 'delete' file.id %}"> <button class = "btn btn-danger">Delete</button></a>
        {% endif %}
         <br> <hr>
       
{% endfor %}
</div>
</div>
</div>
{% endblock content %}


    