{% extends 'base.html'%}
{% load static%}
{% block content %}
<style>
    h3{
        text-decoration: none;
      
        color:#31455a;
        font-weight: 400;

        
    }
    .carousel-indicators .indi {
    background-color: rgb(10, 202, 52);
}

    .slide{
        height: 500px!important;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto ;
      
    }
    .slider{
        margin-top: 80px;
    }
    #emaillabel{
        font-weight: bolder;
    }
    h3{
        text-align: center;
    }
   .mainc{
       background-color: whitesmoke;
       opacity: 0.9;
   }
   footer{
       position: fixed;
       width: 100%;
       bottom: 0;
       background-color: #1366b9;
   }
 
  
    .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color:  rgb(10, 202, 52);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:  rgb(10, 202, 52);
}



</style>


<div class="container slider">


    <div class="row" >
        <div class="col-sm-7 mainc">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active indi"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="indi"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class="indi"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img   class="d-block w-100 slide" src="https://drive.google.com/u/0/uc?id=1sZpPIXNd5sj6X57laRsjqTdBlzjbDAhJ&export=download" alt="First slide">
                </div>
                <!--
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://files.slack.com/files-pri/T0148TPPJRW-F017APF6YPP/img-20200705-wa0002.jg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://files.slack.com/files-pri/T0148TPPJRW-F017APF6YPP/img-20200705-wa0002.jpg" alt="Third slide">
                </div>-->
                </div>
                <a class="carousel-control-prev prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next next " href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon " aria-hidden="true"></span>
                <span class="sr-only icon">Next</span>
                </a>
            </div>
            
     
                

                

        </div> 
        <div class="col-sm-5 mainu">
            {% if error%}
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
        {% endif %}
              
            <form method = "POST">
                {% csrf_token %}
              <div class="form-group">
                <h3>Login</h3>
                <label for="email" id="emaillabel">Email</label>
                
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name = "email" /> <br>
              
              <button type="submit" class="btn btn-primary" >Send mail</button>
            </div>
            </form>
       
     
      </div>

    </div>
    
</div><!-- slider-->


{% endblock content %}